<!DOCTYPE html>
<html lang=en ng-app="BuildingApp">
    <head>
        <title>Building Type   </title>        
        <% include ./partials/head %>         
    </head>
    <body ng-controller="MainCtrl">    
    <form action="/create" method="post" enctype="multipart/form-data" >
       <!-- nav bar starts here -->
            <% include ./partials/header %>     
       <!-- nav bar ends here -->       
        <div class="container-fluid sign-up-bg_img">
                <input type="hidden" name="selectedTab" value="{{selectedTab}}">
            <div class="col-sm-10 col-sm-offset-1">
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- top-side ad div -->
                        <div class="ad-space-top">
                            <img src="./img/ad1.png" class="img-responsive ad-top" style="margin-bottom:10px">
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
                
                <h3 class="select-building-type">Building Type </h3>
                
                <div class="row" style="margin:0; padding:15px 0 20px; background:#f5f5f5;">
                    
                    <div class="col-sm-12"> 
                        
                    <ul class="nav nav-tabs building-type-tabs">
                        <li role="presentation" class="active">
                           <a ng-click="current_tab('Masonry')" data-toggle="tab" href="#masonary">Masonary</a>
                        </li>
                        <li role="presentation">
                           <a ng-click="current_tab('Rcc')" data-toggle="tab" href="#rcc">RCC</a>
                        </li>
                        <li role="presentation">
                           <a ng-click="current_tab('Steel')" data-toggle="tab" href="#steel">Steel</a></li>
                        <li role="presentation">
                        <a ng-click="current_tab('Composite')" data-toggle="tab" href="#composite">Composite</a>
                        </li>
                    </ul>
                        
                        <div class="tab-content">
                            <div id="masonary" class="tab-pane fade in active ">
                                                           
                                <div class="row" style="margin:13px 0 20px; background:#fff;">
                                   <!-- language="english" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>English</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>Name <span style="color:#fb6969">*</span></b></label>
                                                <input type="text"   class="form-control input-text-first" id="enName_masonry" ng-model="masonaryNameEN" name="name" value="<%=Masonry_names.English%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>Description <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="enDesc_masonry"  class="form-control input-text-first" rows="3" ng-model="masonaryDescEN" name="description"   placeholder="Type description"><%=Masonry_desc.English%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                             
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                  <!-- language="Gujrati" block -->
                                    
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>ગુજરાતી</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>નામ <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="gjName_masonry" value="<%=Masonry_names.Gujarati%>" 
                                                name="name" ng-model="masonaryNameGJ">  
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>વર્ણન <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="gjDesc_masonry" class="form-control" rows="3" name="description" placeholder="પ્રકાર વર્ણન" ng-model="masonaryDescGJ"><%=Masonry_desc.Gujarati%></textarea>
                                            </div>
                                        </form>
                                        <br/>                                                                                                       
                                        
                                    </div> <!-- language-form-wrap -->
                                  
                                  <!-- language="Hindi" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>हिन्दी</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>नाम <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" name="name" id="hiName_masonry" ng-model="masonaryNameHI" placeholder="परियोजना का नाम" value="<%=Masonry_names.Hindi%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>विवरण <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="hiDesc_masonry" class="form-control" rows="3" name="description" placeholder="प्रकार के विवरण" ng-model="masonaryDescHI"><%=Masonry_desc.Hindi%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                                                                                                                    
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                    <div class="col-sm-12">
                                        

<div class="row add-options-in-survey-bg"style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Image</label> <br/>
                                                    </div>                                             
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                            <% Masonry_img.forEach(function(post, index) { %>
                                                        <div id="<%=post._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img  src="<%=post.imgUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span><i ng-click="Delete_img('<%=post._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>       
                                        
                                                    <div ng-show="MasonImgdiv_1" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="ImgMasonSrc_1 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_1">
                                                                   <input ng-model="files_1" ng-file-select=""
                                                                   id="files_1" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="ImgMasonSrc_1 == null" class="upload-wrapper">       
                                                                <img src="{{ImgMasonSrc_1}}" >
                                                             </div>
                                                             <div ng-hide="ImgMasonSrc_1 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                 ng-click = "DeleteCloudiImage('ImgMasonID_1','1')"
                                                                 class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->

                                                    <div ng-show="MasonImgdiv_2" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="ImgMasonSrc_2 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_2">
                                                                   <input ng-model="files_2" ng-file-select=""
                                                                   id="files_2" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="ImgMasonSrc_2 == null" class="upload-wrapper">       
                                                                <img src="{{ImgMasonSrc_2}}" >
                                                             </div>
                                                             <div ng-hide="ImgMasonSrc_2 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                ng-click = "DeleteCloudiImage('ImgMasonID_2','2')"
                                                                class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->

                                                    <div ng-show="MasonImgdiv_3" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="ImgMasonSrc_3 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_3">
                                                                   <input ng-model="files_3" ng-file-select=""
                                                                   id="files_3" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="ImgMasonSrc_3 == null" class="upload-wrapper">       
                                                                <img src="{{ImgMasonSrc_3}}" >
                                                             </div>
                                                             <div ng-hide="ImgMasonSrc_3 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                ng-click = "DeleteCloudiImage('ImgMasonID_3','3')"
                                                                class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->

                                                        
                                                </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                        
                                                            <!-- upload video part ends-->
                                           
                                            </div>  <!-- row -->
                                
                                        </div> <!-- col-sm-12  -->
                    
                                    </div>  <!-- options-in-survey-bg -->
                        
                                        <div class="row add-options-in-survey-bg"style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Video</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">                                                
                                                        <% Masonry_vid.forEach(function(video, index) { %>
                                                        <div id="<%=video._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img  src="<%=video.videoUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                             <span><i ng-click="Delete_video('<%=video._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %> 


                                                        <div ng-show="MasonViddiv_1" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="VidMasonSrc_1 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_1">
                                                                   <input ng-model="files_1" ng-file-select=""
                                                                   id="files_1" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="VidMasonSrc_1 == null" class="upload-wrapper">       
                                                                <img src="{{VidMasonSrc_1}}" >
                                                             </div>
                                                             <div ng-hide="VidMasonSrc_1 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                 ng-click = "DeleteCloudiImage('VidMasonID_1','1')"
                                                                 class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->

                                                    <div ng-show="MasonImgdiv_2" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="ImgMasonSrc_2 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_2">
                                                                   <input ng-model="files_2" ng-file-select=""
                                                                   id="files_2" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="ImgMasonSrc_2 == null" class="upload-wrapper">       
                                                                <img src="{{ImgMasonSrc_2}}" >
                                                             </div>
                                                             <div ng-hide="ImgMasonSrc_2 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                ng-click = "DeleteCloudiImage('ImgMasonID_2','2')"
                                                                class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->

                                                    <div ng-show="MasonImgdiv_3" class="upload-files" style="vertical-align:-5px;">
                                                            <div ng-show="ImgMasonSrc_3 == null"
                                                                class="upload-wrapper">
                                                                <label class="" for="files_3">
                                                                   <input ng-model="files_3" ng-file-select=""
                                                                   id="files_3" name="image_masonry" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                             
                                                             <div ng-hide="ImgMasonSrc_3 == null" class="upload-wrapper">       
                                                                <img src="{{ImgMasonSrc_3}}" >
                                                             </div>
                                                             <div ng-hide="ImgMasonSrc_3 == null" class="upload-hover-wrapper">
                                                                <span><i  
                                                                ng-click = "DeleteCloudiImage('ImgMasonID_3','3')"
                                                                class="fa fa-times"></i></span>
                                                            </div> 
                                                    </div>  <!-- upload-files -->






                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                    </div>  <!-- col-sm-12 -->
                                    
                                </div> <!-- row -->
                                
                                <div class="col-sm-12 text-center">
                                    
                                   
                                </div>
                            
                            </div> <!--  #masonary -->
                            
                            <div id="rcc" class="tab-pane fade in">  <!-- rcc -->
                                     <div class="row" style="margin:13px 0 20px; background:#fff;">
                                   <!-- language="english" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>English</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>Name <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="enName_rcc" ng-model="rccNameEN" name="name" value="<%=Rcc_names.English%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>Description <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="enDesc_rcc" class="form-control" rows="3" name="description" placeholder="Type description" ng-model="rccDescEN"><%=Rcc_desc.English%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                             
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                  <!-- language="Gujrati" block -->
                                    
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>ગુજરાતી</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>નામ <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="gjName_rcc" value="<%=Rcc_names.Gujarati%>" 
                                                name="name" ng-model="rccNameGJ">  
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>વર્ણન <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="gjDesc_rcc" class="form-control" rows="3" ng-model="rccDescGJ" name="description" placeholder="પ્રકાર વર્ણન"><%=Rcc_desc.Gujarati%></textarea>
                                            </div>
                                        </form>
                                        <br/>                                                                                                       
                                        
                                    </div> <!-- language-form-wrap -->
                                  
                                  <!-- language="Hindi" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>हिन्दी</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>नाम <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" name="name" id="hiName_rcc" ng-model="rccNameHI" placeholder="परियोजना का नाम" value="<%=Rcc_names.Hindi%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>विवरण <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="hiDesc_rcc" class="form-control" rows="3" name="description" ng-model="rccDescHI" placeholder="प्रकार के विवरण"><%=Rcc_desc.Hindi%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                                                                                                                    
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                    <div class="col-sm-12">
                                        

<div class="row add-options-in-survey-bg"style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Image</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                            <% Rcc_img.forEach(function(post, index) { %>
                                                        <div id="<%=post._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="<%=post.imgUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span><i ng-click="Delete_img('<%=post._id%>')"  class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>                                 
                                                           <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" name="image_rcc" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                        <div class="row add-options-in-survey-bg"style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Video</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                                
                                                           <% Rcc_vid.forEach(function(video, index) { %>
                                                        <div id="<%=video._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img  src="<%=video.videoUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                             <span><i ng-click="Delete_video('<%=video._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>              
                                                          
                                                        <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" type="file" 
                                                                   name="video_masonry"
                                                                   style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                    </div>  <!-- col-sm-12 -->
                                    
                                </div> <!-- row -->
                                
                                <div class="col-sm-12 text-center">
                                    
                                    
                                </div>
                            </div>                                   <!-- rcc -->

                            <div id="steel" class="tab-pane fade in">   <!-- steel -->
                                <div class="row" style="margin:13px 0 20px; background:#fff;">
                                   <!-- language="english" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>English</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>Name <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="enName_steel" ng-model="steelNameEN" name="name" value="<%=Steel_names.English%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>Description <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="enDesc_steel" class="form-control" rows="3" name="description" placeholder="Type description" ng-model="steelDescEN"> <%=Steel_desc.English%> </textarea>
                                            </div>
                                        </form>
                                        <br/>
                             
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                  <!-- language="Gujrati" block -->
                                    
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>ગુજરાતી</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>નામ <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="gjName_steel" value="<%=Steel_names.Gujarati%>" 
                                                name="name" ng-model="steelNameGJ">  
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>વર્ણન <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="gjDesc_steel" class="form-control" rows="3" name="description" placeholder="પ્રકાર વર્ણન" ng-model="steelDescGJ"><%=Steel_desc.Gujarati%></textarea>
                                            </div>
                                        </form>
                                        <br/>                                                                                                       
                                        
                                    </div> <!-- language-form-wrap -->
                                  
                                  <!-- language="Hindi" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>हिन्दी</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>नाम <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" name="name" id="hiName_steel" ng-model="steelNameHI" placeholder="परियोजना का नाम" value="<%=Steel_names.Hindi%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>विवरण <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="hiDesc_steel" class="form-control" rows="3" name="description" placeholder="प्रकार के विवरण" ng-model="steelDescHI"> <%=Steel_desc.Hindi%> </textarea>
                                            </div>
                                        </form>
                                        <br/>
                                                                                                                    
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                    <div class="col-sm-12">
                                        

<div class="row add-options-in-survey-bg" style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Image</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                            <% Steel_img.forEach(function(post, index) { %>
                                                        <div id="<%=post._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="<%=post.imgUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span><i ng-click="Delete_img('<%=post._id%>')"  class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>                                 
                                                           <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" name="image_rcc" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                        <div class="row add-options-in-survey-bg"style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Video</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                                
                                                         <% Steel_vid.forEach(function(video, index) { %>
                                                        <div id="<%=video._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img  src="<%=video.videoUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                             <span><i ng-click="Delete_video('<%=video._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>                          
                                                       
                                                        <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" type="file" 
                                                                   name="video_masonry"
                                                                   style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                    </div>  <!-- col-sm-12 -->
                                    
                                </div> <!-- row -->
                            </div>                                      <!-- steel -->

                            <div id="composite" class="tab-pane fade in">
                                <div class="row" style="margin:13px 0 20px; background:#fff;">
                                   <!-- language="english" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>English</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>Name <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="enName_compo" ng-model="compoNameEN" name="name" value="<%=Comp_names.English%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>Description <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="enDesc_compo" ng-model="compoDescEN" class="form-control" rows="3" name="description" placeholder="Type description"><%=Comp_desc.English%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                             
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                  <!-- language="Gujrati" block -->
                                    
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>ગુજરાતી</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>નામ <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" id="gjName_compo" value="<%=Comp_names.Gujarati%>" 
                                                name="name" ng-model="compoNameGJ">  
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>વર્ણન <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="gjDesc_compo" ng-model="compoDescGJ" class="form-control" rows="3" name="description" placeholder="પ્રકાર વર્ણન"><%=Comp_desc.Gujarati%></textarea>
                                            </div>
                                        </form>
                                        <br/>                                                                                                       
                                        
                                    </div> <!-- language-form-wrap -->
                                  
                                  <!-- language="Hindi" block -->
                                    <div class="col-sm-6 col-md-4 language-form-wrap">
                                        <h4 class="language-label"><i class="fa fa-language"></i>Language: <span>हिन्दी</span></h4>
                                        
                                        <form class="building-type-config-form">
                                            <div class="form-group col-sm-12">
                                                <label><b>नाम <span style="color:#fb6969">*</span></b></label>
                                                <input type="text" class="form-control" name="name" id="hiName_compo" ng-model="compoNameHI" placeholder="परियोजना का नाम" value="<%=Comp_names.Hindi%>">
                                            </div>
                                            <div class="form-group col-sm-12">
                                                <label><b>विवरण <span style="color:#fb6969">*</span></b></label>
                                                <textarea id="hiDesc_compo" ng-model="compoDescHI" class="form-control" rows="3" name="description" placeholder="प्रकार के विवरण"><%=Comp_desc.Hindi%></textarea>
                                            </div>
                                        </form>
                                        <br/>
                                                                                                                    
                                        
                                    </div> <!-- language-form-wrap -->
                                    
                                    <div class="col-sm-12">
                                        

<div class="row add-options-in-survey-bg" style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Image</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                            <% Comp_img.forEach(function(post, index) { %>
                                                        <div id="<%=post._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img src="<%=post.imgUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                                <span><i ng-click="Delete_img('<%=post._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>                                 
                                                           <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" name="image_rcc" type="file" style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                        <div class="row add-options-in-survey-bg" style="margin-left:15px; margin-right:15px ">
                                            <div class="col-sm-12">
                            
                                                <div class="row" style="margin:10px 5px 0px; display:block;">
                                                   <!-- upload video part starts --> 
                                                    <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                        <label style="margin-top:15px;">Upload Video</label> <br/>
                                                    </div>
                                            
                                                    <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                                
                                                          <% Comp_vid.forEach(function(video, index) { %>
                                                        <div id="<%=video._id%>" class="upload-files">
                                                            <div class="upload-wrapper">
                                                                <img  src="<%=video.videoUrl%>" />
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                           <!-- the below div will be visible on hover -->
                                                            <div class="upload-hover-wrapper">
                                                             <span><i ng-click="Delete_video('<%=video._id%>')" class="fa fa-times"></i></span>
                                                            </div> <!-- upload-hover-wrapper -->
                                                        </div>  <!-- upload-files -->
                                                         &nbsp;                                                                 <% }) %>  
                                                         
                                                        <div class="upload-files" style="vertical-align:-5px;">
                                                            <div class="upload-wrapper">
                                                                <label class="" for="my-file-selector">
                                                                   <input id="my-file-selector" type="file" 
                                                                   name="video_masonry"
                                                                   style="display:none;">
                                                                  <i class="fa fa-plus"></i>
                                                                </label>
                                                            </div> <!-- upload-wrapper -->
                                                                              
                                                        </div>  <!-- upload-files -->
                                                        
                                                    </div> <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                  <!-- upload video part ends-->
                                           
                                                </div>  <!-- row -->
                                
                                            </div> <!-- col-sm-12  -->
                    
                                        </div>  <!-- options-in-survey-bg -->
                        
                                    </div>  <!-- col-sm-12 -->
                                    
                                </div> <!-- row -->
                            </div>
                        </div>  <!-- tab-content -->
                        
                    </div> <!-- col-sm-12 -->
 <button ng-click="form_validate()" type="submit" class="orange-btn">Save</button>
</form>
                </div>  <!-- row --->
                
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <!-- bottom-side ad div -->
                        <div class="ad-space-top">
                            <img src="./img/ad3.png" class="img-responsive ad-bottom" style="margin:20px auto;">
                        </div>
                    </div> <!-- col-sm-6 -->
                </div> <!-- row -->
            
            </div>  <!-- col-sm-10 -->
        
        </div> <!-- container-fluid -->
        <% include ./partials/footer %>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>

        <script src="js/src/jquery.cloudinary.js"></script>

        <script src="js/src/angular-file-upload.min.js"></script>

        <script src="js/BuildingScript.js"></script>

        <script src="js/ng-file-upload-shim.min.js"></script>
        <script src="js/ng-file-upload.min.js"></script>
        <!-- ****  NOTE: custom code ***** -->
        <script>
            $(document).ready(function(){
                $(".upload-files").hover(function(){ 
                    $(this).find(".upload-hover-wrapper").toggleClass("toggle-onhover");
                });
            });
            
        </script>       
        
    </body>
</html>