<label style="display:block;"><b>Question Type <span style="color:#fb6969">*</span></b></label>
                                            
<label class="radio-inline checked" style="margin-right:28px;">
    <input type="radio"  value="option1" 
    <% if(questionType == '0') {%> checked<% } else { %> disabled
    <%}%> > Checkbox 
</label>

<label class="radio-inline disabled" style="margin-right:28px;">
    <input type="radio"   value="option2" <% if(questionType == '1') {%> checked<% } else { %> disabled
    <%}%> > Dropdown 
</label>

<label class="radio-inline disabled" style="margin-right:28px;">
    <input type="radio"   value="option3"  <% if(questionType == '2') {%> checked<% } else { %> disabled
    <%}%> > Text Field 
</label>

<div class="clearfix"></div><br/>
                                        
                                      
  <label style="display:block;padding-left:15px;"><b>Question Text <span style="color:#fb6969">*</span></b>
                                        </label>
                                        <% for(var i=0; i < people.length; i++) { %>
                                            <div class="col-sm-6 col-md-4 col-lg-4"> 
                                                <div class="form-group">
                                                    <input type="text" class="form-control" 
                                                    id="<%= people[i].model %><%=Q_id%>"   readonly placeholder="<%=people[i].name%>"> 
                                                </div>
                                            </div>
                                        <% } %>
                                        <!-- col-sm-6 -->
                                        
                                        <div class="clearfix"></div>
 
<% if(questionType != '2')  { %>    <!-- Looping if question is not for text feild -->
<div class="col-sm-12 ">
    <label style="display:block;"><b>Options <span style="color:#fb6969">*</span></b></label>

    <div class="row delete-options-in-survey-bg">
      <% for(var i=0 ; i <qOptions.length; i++)  { %>
        <div class="col-sm-10 col-md-11" style="padding:0">
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" name="name" readonly 
                    placeholder="<%=qOptions[i].English%>" >
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" name="name" readonly 
                    placeholder="<%=qOptions[i].Gujarati%>" >
                </div>
                <div class="col-sm-4 form-group">
                    <input type="text" class="form-control" name="name" readonly 
                    placeholder="<%=qOptions[i].Hindi%>" >
                </div>
        </div>
        <%}%>
               
    </div>
    <!-- delete-options-in-survey-bg -->
</div>
<!-- col-sm-12 -->
<%}%>
                                        
                                        <div class="clearfix"></div>
                                        <br/>
                                        
                                        <div class="col-sm-12 ">
                                            
                                            <label class="checkbox-inline" style="padding-left:1px; margin-bottom:20px;"> <b>Need Assistance <span style="color:#e33132">*</span></b><input type="checkbox"    ng-model="CheckNeedAssistance" id="inlineCheckbox1"     disabled
                                            ng-init="init_checkbox('<%=rawData.ifNeedAssistance%>')" value="option1" style="margin-left: 17px; margin-top: -5px;">
                                             </label>
                                        </div> <!-- col-sm-12  -->
                                          
                                       <div  ng-show="CheckNeedAssistance"> 
                                            <div  ng-include="'needAssistancePartial/'+'<%=Q_id%>'"></div>
                                       </div> <!--needAssistanceDiv-->                                               
                                        <div class="clearfix"></div>


<hr/>
    <label style="display:block;">
        <b>Type Of Building </b>
    </label>
                                        
    <div class="col-sm-12 select-radio-btn">   

        <label class="checkbox-inline disabled">
            <input type="checkbox" class="radioBalancer" id="inlineCheckbox1" value="option1" style="margin-top:-4px;" disabled 
             <% if(buildingTypes.search('Masonry') > -1)  { %> checked  <% } else { %> <% }%> > Masonry 
        </label>
        <label class="checkbox-inline disabled" >
            <input type="checkbox" class="radioBalancer" id="inlineCheckbox2" value="option2" style="margin-top:-4px;" disabled
            <% if(buildingTypes.search('Rcc') > -1)  { %> checked  <% } else { %> <% }%>   > RCC 
        </label>
        <label class="checkbox-inline disabled">
            <input type="checkbox" class="radioBalancer" id="inlineCheckbox3" value="option3" style="margin-top:-4px;" disabled
            <% if(buildingTypes.search('Steel') > -1)  { %> checked  <% } else { %> <% }%>  > Steel 
        </label>
        <label class="checkbox-inline disabled">
            <input type="checkbox" class="radioBalancer" id="inlineCheckbox4" value="option4" style="margin-top:-4px;" disabled
            <% if(buildingTypes.search('Composite') > -1)  { %> checked  <% } else { %> <% }%> > Composite 
        </label>
    </div>
 
    <label style="display:block;">
        <b>Type Of User </b>
    </label>
    <div class="col-sm-12 select-radio-btn">
        <label class="checkbox-inline disabled">

            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(userTypes.search('Non-Professional') > -1)  { %> checked  <% } else { %> <% }%> >  Non-Professional Surveyor  

        </label>
        <label class="checkbox-inline  disabled" >

            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(userTypes.search('Professional Surveyor') > -1 && (userTypes.search('Non-Professional') < -1))  { %> checked  <% } else { %> <% }%> >  Professional Surveyor 

        </label>
        <label class="checkbox-inline  disabled">
          
            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(userTypes.search('Certified') > -1)  { %> checked  <% } else { %> <% }%> >  Certified Surveyor 

        </label>
    </div>
 
    <label style="display:block;">
        <b>Type Of Standard </b>
    </label>
    <div class="col-sm-12 select-radio-btn">
        <label class="checkbox-inline disabled">
            
            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(assessmentStds.search('Indian') > -1)  { %> checked  <% } else { %> <% }%> >  General Indian Standard

        </label>
        <label class="checkbox-inline  disabled" >
           
            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(assessmentStds.search('American') > -1)  { %> checked  <% } else { %> <% }%> >  General American Standard

        </label>
        <label class="checkbox-inline  disabled">
            
            <input type="checkbox" class="radioBalancer" disabled style="margin-top:-4px;"  
             <% if(assessmentStds.search('European') > -1)  { %> checked  <% } else { %> <% }%> >  General European Standard

        </label>
    </div>
 
    <label style="display:block;">
        <b>Type Of damageability risk </b>
    </label>
    <div class="col-sm-12 select-radio-btn">
        <label class="checkbox-inline disabled">
             
             <input type="radio" disabled  class="radioBalancer"  style="margin-top:-10px;"  
             <% if(damageRisks == 'Yes')  { %> checked   <% } else { %> <% }%> > Yes

        </label>
        <label class="checkbox-inline  disabled" >
             
             <input type="radio" disabled   class="radioBalancer"  style="margin-top:-10px;"  
             <% if(damageRisks == 'No')  { %> checked  <% } else { %> <% }%> > No

        </label>
        <label class="checkbox-inline  disabled">
             
             <input type="radio" disabled   class="radioBalancer"  style="margin-top:-10px;"  
             <% if(damageRisks == 'Nothing')  { %> checked  <% } else { %> <% }%> > Nothing

        </label>
    </div>
