
<label style="display:block;"><b>Question Type <span style="color:#fb6969">*</span></b></label>
    
    <label class="radio-inline" style="margin-right:28px;">
        <input type="radio"  ng-model="$parent.checkbox" ng-checked="$parent.checkbox =='0'"  ng-init="$parent.checkbox='<%=questionType%>'" value="0" ng-change="radioSelect('checkBox')"
           > Checkbox 
    </label>

    <label class="radio-inline" style="margin-right:28px;">
        <input type="radio"   ng-model="$parent.checkbox" ng-checked="$parent.checkbox =='1'"  ng-init="$parent.checkbox='<%=questionType%>'"  value="1" ng-change="radioSelect('dropDown')" 
        <% if(questionType == '1') {%> checked<% } else { %>  <%}%>  > Dropdown 
    </label>

    <label class="radio-inline" style="margin-right:28px;">
        <input type="radio"  ng-model="$parent.checkbox" ng-checked="checkbox =='2'"  ng-init="checkbox='<%=questionType%>'"  value="2"  ng-change="radioSelect('textFeild')"  
        <% if(questionType == '2') {%>checked<%}%>  > Text Field 
    </label>   
     
<div class="clearfix"></div><br/> 
                                        
                                      
  <label style="display:block;padding-left:15px;"><b>Question Text <span style="color:#fb6969">*</span></b>
                                        </label>
    
    <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="$parent.QuestEN" ng-init="$parent.QuestEN='<%=question.English%>'" >
        </div>
    </div>
    <!-- col-sm-6 -->
    
    <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            <input type="text" class="form-control"  ng-model="$parent.QuestGJ"  ng-init="$parent.QuestGJ='<%=question.Gujarati%>'" >  
        </div>
    </div>
    <!-- col-sm-6 -->
    
    <div class="col-sm-6 col-md-4 col-lg-4">
        <div class="form-group">
            <input type="text" class="form-control" ng-model="$parent.QuestHI"  ng-init="$parent.QuestHI='<%=question.Hindi%>'" > 
        </div>
    </div>
    <!-- col-sm-6 -->
    
    <div class="clearfix"></div>
  
  <!--   if question is not for text feild -->   
    <div ng-show="$parent.OptionDiv" ng-init="FillChoices('<%=qOptions%>')" class="col-sm-12 ">
        <label style="display:block;"><b>Options <span style="color:#fb6969">*</span></b></label>

        <div class="row delete-options-in-survey-bg">
          <fieldset  data-ng-repeat="choice in choices">    <!--$scope.choices from controller -->  
            <div class="col-sm-10 col-md-11" style="padding:0">
                <div class="col-sm-3 form-group">                     
                    <input type="text" value="{{choice.English}}"  name="{{'EditoptEN_'+choice._id+'-'+thisQues+'*'}}<%=Q_id%>" placeholder="">
                </div>   
                <div class="col-sm-3 form-group">                     
                    <input type="text" value="{{choice.Gujarati}}" 
                    name="{{'EditoptGJ_'+choice._id+'-'+thisQues+'*'}}<%=Q_id%>" placeholder="">
                </div>
                <div class="col-sm-3 form-group">                     
                    <input type="text" value="{{choice.Hindi}}" 
                    name="{{'EditoptHI_'+choice._id+'-'+thisQues+'*'}}<%=Q_id%>" placeholder="">
                </div> 
                 <div class="col-sm-3 form-group">                     
                    <a class="btn" ng-show="$last" ng-if="choices.length > 2" 
                    ng-click="removeChoice()">Remove </a>    
                </div>  
            </div>
         </fieldset>       
            <a class="btn" ng-click="addNewChoice()">Add fields</a>                  
        </div><!-- delete-options-in-survey-bg -->
    </div>
    <!-- col-sm-12 -->
    
    <div class="clearfix"></div>
    <br/>
    
    <div class="col-sm-12 ">
        
        <label class="checkbox-inline" style="padding-left:1px; margin-bottom:20px;"> <b>Need Assistance <span style="color:#e33132">*</span></b><input type="checkbox" ng-change="showAssistance()"  id="inlineCheckbox1" ng-model="CheckNeedAssistance_editpage" 
        ng-init="init_checkbox_EditPage('<%=rawData.needAssistance.title.English%>')"
        value="option1" style="margin-left: 17px; margin-top: -5px;"> </label>
    </div> <!-- col-sm-12  -->
    
   <div  ng-show="needAssistanceDiv"> 
        <div  ng-include="'needAssistancePartialEditable/'+'<%=Q_id%>'"></div>
   </div> <!--needAssistanceDiv-->                                               
    <div class="clearfix"></div>
    
    <div class="col-sm-12 select-radio-btn">
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox_edit" name="CB_Masonary"  style="margin-top:-4px;"
            <% if(buildingTypes.search('Masonry') > -1)  { %> checked  <% } else { %> <% }%> > Masonry  
        </label>
        <label class="checkbox-inline  " >
            <input type="checkbox" id="inlineCheckbox2_edit" name="CB_Rcc" style="margin-top:-4px;"  
            <% if(buildingTypes.search('Rcc') > -1)  { %> checked  <% } else { %> <% }%>   > RCC 
        </label>
        <label class="checkbox-inline  ">
            <input type="checkbox" id="inlineCheckbox3_edit" name="CB_Steel"  style="margin-top:-4px;"  
            <% if(buildingTypes.search('Steel') > -1)  { %> checked  <% } else { %> <% }%>  > Steel 
        </label>
        <label class="checkbox-inline  ">
            <input type="checkbox" id="inlineCheckbox4_edit" name="CB_Compo"  style="margin-top:-4px;" 
            <% if(buildingTypes.search('Composite') > -1)  { %> checked  <% } else { %> <% }%> > Composite 
        </label>
    </div>
<div class="col-sm-12 text-center">
    <br/> 
    <button ng-click="form_submit('<%=rawData._id%>')"  type="submit" class="orange-btn">Save</button>    
</div>

</form>
