<label style="display:block;padding-left:15px;"><b>Title <span style="color:#fb6969">*</span></b>
                                        </label>
                                       <div class="col-sm-12 ">  <!-- col-sm-12  -->
                                            <div class="row add-options-in-survey-bg">
                                                <div class="col-sm-4 form-group">
                                                    <input type="text" class="form-control" ng-model="NA_NameEnglish" ng-init="NA_NameEnglish='<%=rawData.title.English%>'" readonly> 
                                                </div>
                                                <div class="col-sm-4 form-group">
                                                    <input type="text" class="form-control" ng-model="NA_NameGujarati" 
                                                    ng-init="NA_NameGujarati='<%=rawData.title.Gujarati%>'" readonly> 
                                                </div>
                                                <div class="col-sm-4 form-group">
                                                    <input type="text" class="form-control" 
                                                    ng-model="NA_NameHindi" 
                                                    ng-init="NA_NameHindi='<%=rawData.title.Hindi%>'" 
                                                    readonly>
                                                </div>
                                            </div>
                                            <!-- options-in-survey-bg -->
                                        </div>
                                        <!-- col-sm-12  -->
                                        <div class="clearfix"></div>

<label style="display:block;padding-left:15px;"><b>Description <span style="color:#fb6969">*</span></b>
                                        </label>
                                        <div class="col-sm-12 ">  <!-- col-sm-12  -->
                                            <div class="row add-options-in-survey-bg">
                                                <div class="col-sm-4 form-group need-assist-desc">
                                                    <textarea class="form-control" rows="3" ng-model="NA_DescEnglish" 
                                                    ng-init="NA_DescEnglish='<%=rawData.description.English%>'"
                                                    readonly></textarea>
                                                </div>
                                                
                                                <div class="col-sm-4 form-group need-assist-desc">
                                                    <textarea class="form-control" rows="3" ng-model="NA_DescGujarati" 
                                                ng-init="NA_DescGujarati='<%=rawData.description.Gujarati%>'"
                                                    readonly></textarea>
                                                </div>
                                                
                                                <div class="col-sm-4 form-group need-assist-desc">
                                                    <textarea class="form-control" rows="3" ng-model="NA_DescHindi" 
                                                    ng-init="NA_DescHindi='<%=rawData.description.Hindi%>'"
                                                    readonly ></textarea>
                                                </div>
                                            </div>
                                        </div>  <!-- col-sm-12  -->
                                        <div class="clearfix"></div>

                                            <div class="col-sm-12">  
                                                <div class="row add-options-in-survey-bg">

                                        <div class="col-sm-12">
                                              <div class="row" style="margin:10px 5px 0px; display:block;">
                                              <!-- upload video part starts -->
                                              <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                    <label style="margin-top:15px;">Upload Image</label>
                                                    <br/> 
                                              </div>
                                              <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                <% rawData.questionImgUrl.forEach(function(post, index) { %>
                                                <div  class="upload-files">
                                                    <div class="upload-wrapper">
                                                        <img  src="<%=post.imgUrl%>" />
                                                    </div> <!-- upload-wrapper -->
                                                </div>  <!-- upload-files -->
                                                 &nbsp;                                                                 <% }) %>                                                                              
                                            </div>
                                            <!-- col-sm-2 col-md-2 col-lg-1 -->
                                            <!-- upload video part ends-->
                                            </div>
                                                                              <!-- row -->
                                        </div>
                                        <!-- col-sm-12  -->

                                        </div> <!-- options-in-survey-bg -->
                                    
                                       <div class="row add-options-in-survey-bg">
                                                
                                                <div class="col-sm-12">
                                                    <div class="row" style="margin:10px 5px 0px; display:block;">
                                                      <!-- upload video part starts -->
                                                        <div class="col-sm-3 col-md-2 col-lg-2 side-padding">
                                                            <label style="margin-top:15px;">Upload Video</label>
                                                            <br/> 
                                                        </div>
                                                        <div class="col-sm-9 col-md-10 col-lg-10 side-padding">
                                                            <div class="upload-files">
                                                                <div class="upload-wrapper"> 
                                                                    <img src="img/image-1.png" /> 
                                                                </div>
                                                                <!-- upload-wrapper -->
                                                              
                                                            </div> <!-- upload-files -->
                                                            &nbsp;
                                                            <div class="upload-files">
                                                                <div class="upload-wrapper"> 
                                                                    <img src="img/image-1.png" /> 
                                                                </div>
                                                              <!-- upload-wrapper -->
                                                            
                                                            </div> <!-- upload-files -->
                                                            &nbsp;
                                                            <div class="upload-files" style="vertical-align:-5px;">
                                                                <div class="upload-wrapper"> 
                                                                    <i class="fa fa-video-camera"></i> 
                                                                </div>
                                                                <!-- upload-wrapper -->
                                                            </div> <!-- upload-files -->
                                                            &nbsp;
                                                            
                                                        </div>
                                                        <!-- col-sm-2 col-md-2 col-lg-1 -->
                                                      <!-- upload video part ends-->
                                                    </div>
                                                    <!-- row -->
                                                </div>
                                                <!-- col-sm-12  -->
                                            
                                            </div>
                                            <!-- options-in-survey-bg -->
                                         </div>
                                        <!-- col-sm-12 -->    
   
  <!-- ****  NOTE: custom code ***** -->
    <script>
        $(document).ready(function () {
            $(".upload-files").hover(function () {
                $(this).find(".upload-hover-wrapper").toggleClass("toggle-onhover");
            });
        });
    </script>